pop/*.xcuserstate
pop/project.xcworkspace
pop/xcuserdata
pop/UserInterfaceState.xcuserstate
pop/project.xcworkspace/
pop/xcuserdata/
pop/UserInterface.xcuserstate 
pop/pop.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/

